<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		
		<property name="hibernate.connection.driver_class">
			org.postgresql.Driver
		</property>
		
		<property name="hibernate.dialect">
			org.hibernate.dialect.PostgreSQLDialect
		</property>
		
		<property name="hibernate.connection.url">
			jdbc:postgresql://seangpostgres.cgkgf1bdwgdz.us-east-2.rds.amazonaws.com/postgres
		</property>
		
		<property name="hibernate.connection.username">
			seangrev
		</property>
		
		<property name="hibernate.connection.password">
			Came4567890!
		</property>
		
		<!-- Optional Properties -->
		<property name="show_sql">
			true
		</property>
		
		<property name="hbm2ddl.auto">
			none
		</property>
		
		<!-- Class Mappings -->
		<mapping class="com.revature.models.Attachment"/>
		<mapping class="com.revature.models.Department" />
		<mapping class="com.revature.models.Employee"/>
		<mapping class="com.revature.models.Event"/>
		<mapping class="com.revature.models.EventType"/>
		<mapping class="com.revature.models.GradeFormat"/>
		<mapping class="com.revature.models.Presentation"/>
		<mapping class="com.revature.models.Reimbursement"/>
		<mapping class="com.revature.models.Request"/>
		
	</session-factory>
</hibernate-configuration>